@{
    ViewBag.Title = "Sobre o sistema";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Caso precise de qualquer maior informação, favor entrar em contato com o Administrador do sistema.</p>
